/* body styling*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(191, 218, 245);
    margin: 0;
    padding: 20px;
    border:#82b1eb;
}
.menu-bar {
  .menu-item:hover {
    color: #ccc;
  }
}
h1 {
    color:cadetblue
}
p {
    color:black
}

/* topnav styling*/
  .topnav {
    border: 1px solid #cccccc;
  }
  .topnav {
    background-color: #131f39;
    padding: 10px;
    display: flex;
    justify-content:left;
    align-items: center;
  }
  
  .topnav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .topnav a:hover {
    color: #ccc;
  }
  /* table styling*/
  table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th, td {
    border: 1px solid #82b1eb;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  } 
